.container {
    margin-bottom: 50px;
}
.text-center {
    color: $primary-color;
    font-family: $font-family;
    padding-bottom: 3%;
    padding-top: 5%;
}
.text-consul {
    font-family: $font-family;
    text-decoration: none;
    text-overflow: unset;
    color: inherit;
}
.text-consul h2, p {
    color: $primary-color;
}

.mb-3, .submit, .btn {
    color: $primary-color;
    font-family: $font-family;
}
.btn {
    border-color: blue;
    color: $secondary-color;
    background-color: white;
}
.btn:hover {
    font-size: large;
    background-color: white;  
}

.img-fluid {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }

.img-fluid:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
  }