.cuerror {
  background-image: url(../assets/fondox.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.titerror {
    font-family: $font-family;
    color: $primary-color;
    padding: 5%;

}

.error {
    width: 500px;
    height: 300px;
    border-radius: 40%;
    border: solid;
}

a {
  font-family: $font-family;
      text-overflow: unset;
      color: inherit;
    
}

@media screen and (min-width: 380px) and (max-width: 480px) {
  .error {
    width: 80%;
    animation: none;
  }
  
  .titerror{
    font-size: small;
  }

  .cuerror {
    font-size: smaller;
  }
 

}
