.footer {
  background: linear-gradient(to right, white, rgb(166, 166, 245));
  color: $secondary-color;
  padding: 10px;
  text-align: center;
  font-family: $font-family;
  .icono-red-social {
    text-decoration: none;
    text-overflow: unset;
    color: inherit;
  }
  .derechos-reservados {
    color: $secondary-color;
  }
  p {
      color: $secondary-color;
  }
}

@media screen and (min-width: 380px) and (max-width: 480px) {
    .redes-oficiales, .derechos-reservados {
      font-size: smaller;
    }
    
}
  