  .titulo {
    grid-area: titulo;
    text-align: center;
    padding: 3%;
  }

  .contenedor2 {
    height: 150vh;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 5fr 4fr 3fr 3fr 3fr;
    grid-template-areas: 
        "ingreso ingreso ingreso"
        "docemeses veinmeses treinmeses"
        "tiempos tiempos tiempos"
        "congelar congelar congelar"
        "solicitar solicitar solicitar"
    ;
}
.ingreso {
    grid-area: ingreso;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}
.docemeses {
    grid-area: docemeses;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}
.veinmeses {
    grid-area: veinmeses;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}
.treinmeses {
    grid-area: treinmeses;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}
.tiempos {
    grid-area: tiempos;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}
.congelar {
    grid-area: congelar;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}
.solicitar {
    grid-area: solicitar;
    border: solid;
    border-radius: 5%;
    background-color: rgb(11, 29, 68);
    color: white;
    margin: 3%;
}

h2 {
    color: antiquewhite;
    font-family: 'Days One', sans-serif;
    text-align: center
    ;
 }
 p {
     font-family: 'Days One', sans-serif;
     padding: 2%;
     text-align: center;     
 }