$header-background-color: rgb(255, 255, 255);
$header-gradient-color: rgb(166, 166, 245);
$header-text-color: inherit;
$font-family: 'Days One', sans-serif;
$primary-color: antiquewhite;
$secondary-color: black
